body{
    margin: 0;
    background-color: #DFF6FF;
}
.header{
    overflow: hidden;
    background-color: #47B5FF;
    font-size: 20pt;
    padding: 1px;
}
.header img{
    margin-top: -6px;
}
.header a {
    font-weight: bold;
    float: right;
    color: rgb(0, 0, 0);
    padding-top: 18px;
    padding-right: 37px;
    text-decoration: none;
    padding-bottom: 18px;
}

/* content */
.cont h1{
    float: left;
    font-size: 40px;
    margin-top: 7%;
    margin-left: 15%;
}
.cont p{
    float: left;
    font-size: 20px;
    margin-top: -1px;
    margin-left: 15.3%;
    margin-right: 15.3%;
    text-align: justify;
}


/* footer */
.foot{
    font-size: 18px;
    height: 8%;
    text-align: center;
    text-decoration: none;
    background-color: #90ADC6;
    margin-top: 40%;
    padding-top: 20px;
}
.foot a{
    color: blue;
}

